{
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "openapi": "3.0.0",
  "info": {
    "version": "2021-11-01",
    "title": "HealthcareApisClient",
    "description": "Use this API to manage Microsoft HealthcareApis services in your Azure subscription."
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "components": {
    "securitySchemes": {
      "azure_auth": {
        "description": "Azure Active Directory OAuth2 Flow",
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "impersonate your user account"
            }
          }
        }
      }
    },
    "schemas": {
      "ServicesProperties": {
        "description": "The properties of a service instance.",
        "type": "object",
        "properties": {
          "provisioningState": {
            "description": "The provisioning state.",
            "$ref": "healthcare-apis.json#/components/schemas/ProvisioningState"
          },
          "accessPolicies": {
            "$ref": "healthcare-apis.json#/components/schemas/ServiceAccessPoliciesInfo",
            "description": "The access policies of the service instance."
          },
          "cosmosDbConfiguration": {
            "$ref": "healthcare-apis.json#/components/schemas/ServiceCosmosDbConfigurationInfo",
            "description": "The settings for the Cosmos DB database backing the service."
          },
          "authenticationConfiguration": {
            "$ref": "healthcare-apis.json#/components/schemas/ServiceAuthenticationConfigurationInfo",
            "description": "The authentication configuration for the service instance."
          },
          "corsConfiguration": {
            "$ref": "healthcare-apis.json#/components/schemas/ServiceCorsConfigurationInfo",
            "description": "The settings for the CORS configuration of the service instance."
          },
          "exportConfiguration": {
            "$ref": "healthcare-apis.json#/components/schemas/ServiceExportConfigurationInfo",
            "description": "The settings for the export operation of the service instance."
          },
          "privateEndpointConnections": {
            "description": "The list of private endpoint connections that are set up for this resource.",
            "type": "array",
            "items": {
              "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "publicNetworkAccess": {
            "description": "Control permission for data plane traffic coming from public networks while private endpoint is enabled.",
            "enum": [
              "Enabled",
              "Disabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "PublicNetworkAccess",
              "modelAsString": true
            }
          },
          "acrConfiguration": {
            "$ref": "healthcare-apis.json#/components/schemas/ServiceAcrConfigurationInfo",
            "description": "The azure container registry settings used for convert data operation of the service instance."
          }
        }
      },
      "ServiceAccessPoliciesInfo": {
        "description": "The access policies of the service instance.",
        "type": "array",
        "items": {
          "$ref": "healthcare-apis.json#/components/schemas/ServiceAccessPolicyEntry"
        }
      },
      "ServiceAccessPolicyEntry": {
        "description": "An access policy entry.",
        "properties": {
          "objectId": {
            "description": "An Azure AD object ID (User or Apps) that is allowed access to the FHIR service.",
            "type": "string",
            "pattern": "^(([0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}){1})+$"
          }
        },
        "required": [
          "objectId"
        ]
      },
      "ServiceCosmosDbConfigurationInfo": {
        "description": "The settings for the Cosmos DB database backing the service.",
        "type": "object",
        "properties": {
          "offerThroughput": {
            "type": "integer",
            "description": "The provisioned throughput for the backing database.",
            "readOnly": false,
            "minimum": 400,
            "maximum": 10000
          },
          "keyVaultKeyUri": {
            "type": "string",
            "description": "The URI of the customer-managed key for the backing database.",
            "readOnly": false
          }
        }
      },
      "ServiceAuthenticationConfigurationInfo": {
        "description": "Authentication configuration information",
        "type": "object",
        "properties": {
          "authority": {
            "type": "string",
            "description": "The authority url for the service",
            "readOnly": false
          },
          "audience": {
            "type": "string",
            "description": "The audience url for the service",
            "readOnly": false
          },
          "smartProxyEnabled": {
            "type": "boolean",
            "description": "If the SMART on FHIR proxy is enabled",
            "readOnly": false
          }
        }
      },
      "ServiceCorsConfigurationInfo": {
        "description": "The settings for the CORS configuration of the service instance.",
        "type": "object",
        "properties": {
          "origins": {
            "type": "array",
            "description": "The origins to be allowed via CORS.",
            "readOnly": false,
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/ServiceCorsConfigurationOriginEntry"
            }
          },
          "headers": {
            "type": "array",
            "description": "The headers to be allowed via CORS.",
            "readOnly": false,
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/ServiceCorsConfigurationHeaderEntry"
            }
          },
          "methods": {
            "type": "array",
            "description": "The methods to be allowed via CORS.",
            "readOnly": false,
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/ServiceCorsConfigurationMethodEntry"
            }
          },
          "maxAge": {
            "type": "integer",
            "description": "The max age to be allowed via CORS.",
            "readOnly": false,
            "minimum": 0,
            "maximum": 99999
          },
          "allowCredentials": {
            "type": "boolean",
            "description": "If credentials are allowed via CORS.",
            "readOnly": false
          }
        }
      },
      "ServiceExportConfigurationInfo": {
        "description": "Export operation configuration information",
        "type": "object",
        "properties": {
          "storageAccountName": {
            "type": "string",
            "description": "The name of the default export storage account.",
            "readOnly": false
          }
        }
      },
      "ServiceAcrConfigurationInfo": {
        "description": "Azure container registry configuration information",
        "type": "object",
        "properties": {
          "loginServers": {
            "type": "array",
            "description": "The list of the ACR login servers.",
            "readOnly": false,
            "items": {
              "type": "string"
            }
          },
          "ociArtifacts": {
            "type": "array",
            "description": "The list of Open Container Initiative (OCI) artifacts.",
            "readOnly": false,
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/ServiceOciArtifactEntry"
            },
            "x-ms-identifiers": []
          }
        }
      },
      "ServiceCorsConfigurationOriginEntry": {
        "description": "An origin for CORS.",
        "type": "string",
        "pattern": "^(?:(?:(?:[hH][tT][tT][pP](?:[sS]|))\\:\\/\\/(?:[a-zA-Z0-9-]+[.]?)+(?:\\:[0-9]{1,5})?|[*]))$"
      },
      "ServiceCorsConfigurationHeaderEntry": {
        "description": "A header for CORS.",
        "type": "string"
      },
      "ServiceCorsConfigurationMethodEntry": {
        "description": "A method for CORS.",
        "type": "string"
      },
      "ServicesDescription": {
        "description": "The description of the service.",
        "type": "object",
        "properties": {
          "properties": {
            "x-ms-client-flatten": false,
            "description": "The common properties of a service.",
            "$ref": "healthcare-apis.json#/components/schemas/ServicesProperties"
          },
          "systemData": {
            "description": "Metadata pertaining to creation and last modification of the resource.",
            "$ref": "healthcare-apis.json#/components/schemas/systemData"
          }
        },
        "allOf": [
          {
            "$ref": "healthcare-apis.json#/components/schemas/ServicesResource"
          }
        ]
      },
      "ServicesPatchDescription": {
        "description": "The description of the service.",
        "type": "object",
        "properties": {
          "tags": {
            "description": "Instance tags",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "properties": {
            "$ref": "healthcare-apis.json#/components/schemas/ServicesPropertiesUpdateParameters",
            "description": "The properties for updating a service instance.",
            "x-ms-client-flatten": true
          }
        }
      },
      "ServicesResource": {
        "description": "The common properties of a service.",
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "The resource identifier."
          },
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "The resource name.",
            "pattern": "^[a-z0-9][a-z0-9-]{1,21}[a-z0-9]$"
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "The resource type."
          },
          "kind": {
            "readOnly": false,
            "type": "string",
            "description": "The kind of the service.",
            "enum": [
              "fhir",
              "fhir-Stu3",
              "fhir-R4"
            ],
            "x-ms-enum": {
              "name": "kind",
              "modelAsString": false
            }
          },
          "location": {
            "type": "string",
            "description": "The resource location.",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "The resource tags."
          },
          "etag": {
            "description": "An etag associated with the resource, used for optimistic concurrency when editing it.",
            "type": "string"
          },
          "identity": {
            "type": "object",
            "description": "Setting indicating whether the service has a managed identity associated with it.",
            "properties": {
              "principalId": {
                "readOnly": true,
                "type": "string",
                "description": "The principal ID of the resource identity."
              },
              "tenantId": {
                "readOnly": true,
                "type": "string",
                "description": "The tenant ID of the resource."
              },
              "type": {
                "description": "Type of identity being specified, currently SystemAssigned and None are allowed.",
                "type": "string",
                "enum": [
                  "SystemAssigned",
                  "None"
                ],
                "x-ms-enum": {
                  "name": "ManagedServiceIdentityType",
                  "modelAsString": true
                }
              }
            }
          }
        },
        "x-ms-azure-resource": true,
        "required": [
          "location",
          "kind"
        ]
      },
      "ServicesDescriptionListResult": {
        "description": "A list of service description objects with a next link.",
        "type": "object",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of service description objects.",
            "type": "string"
          },
          "value": {
            "description": "A list of service description objects.",
            "type": "array",
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/ServicesDescription"
            }
          }
        }
      },
      "ServicesPropertiesUpdateParameters": {
        "description": "The properties for updating a service instance.",
        "type": "object",
        "properties": {
          "publicNetworkAccess": {
            "description": "Control permission for data plane traffic coming from public networks while private endpoint is enabled.",
            "enum": [
              "Enabled",
              "Disabled"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "PublicNetworkAccess",
              "modelAsString": true
            }
          }
        }
      },
      "CheckNameAvailabilityParameters": {
        "description": "Input values.",
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the service instance to check.",
            "type": "string"
          },
          "type": {
            "description": "The fully qualified resource type which includes provider namespace.",
            "type": "string"
          }
        },
        "required": [
          "name",
          "type"
        ]
      },
      "ServicesNameAvailabilityInfo": {
        "description": "The properties indicating whether a given service name is available.",
        "type": "object",
        "properties": {
          "nameAvailable": {
            "description": "The value which indicates whether the provided name is available.",
            "type": "boolean",
            "readOnly": true
          },
          "reason": {
            "description": "The reason for unavailability.",
            "enum": [
              "Invalid",
              "AlreadyExists"
            ],
            "type": "string",
            "readOnly": true,
            "x-ms-enum": {
              "name": "ServiceNameUnavailabilityReason",
              "modelAsString": false
            }
          },
          "message": {
            "description": "The detailed reason message.",
            "type": "string"
          }
        }
      },
      "PrivateEndpointConnectionDescription": {
        "type": "object",
        "properties": {
          "systemData": {
            "description": "Metadata pertaining to creation and last modification of the resource.",
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData"
          }
        },
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection"
          }
        ],
        "description": "The Private Endpoint Connection resource."
      },
      "PrivateLinkResourceDescription": {
        "type": "object",
        "properties": {
          "systemData": {
            "description": "Metadata pertaining to creation and last modification of the resource.",
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData"
          }
        },
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateLinkResource"
          }
        ],
        "description": "The Private Endpoint Connection resource."
      },
      "PrivateEndpointConnectionListResultDescription": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "description": "Array of private endpoint connections",
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/PrivateEndpointConnectionDescription"
            }
          }
        },
        "description": "List of private endpoint connection associated with the specified storage account"
      },
      "PrivateLinkResourceListResultDescription": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "description": "Array of private link resources",
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/PrivateLinkResourceDescription"
            }
          }
        },
        "description": "A list of private link resources"
      },
      "Error": {
        "description": "Error details.",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error details",
            "$ref": "healthcare-apis.json#/components/schemas/ErrorDetailsInternal"
          }
        }
      },
      "ErrorDetails": {
        "description": "Error details.",
        "type": "object",
        "properties": {
          "error": {
            "description": "Error details",
            "$ref": "healthcare-apis.json#/components/schemas/ErrorDetailsInternal"
          }
        }
      },
      "ErrorDetailsInternal": {
        "description": "Error details.",
        "type": "object",
        "properties": {
          "code": {
            "description": "The error code.",
            "type": "string",
            "readOnly": true
          },
          "message": {
            "description": "The error message.",
            "type": "string",
            "readOnly": true
          },
          "target": {
            "description": "The target of the particular error.",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "ListOperations": {
        "description": "Available operations of the service",
        "type": "object",
        "properties": {
          "value": {
            "description": "Collection of available operation details",
            "uniqueItems": false,
            "type": "array",
            "readOnly": true,
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/OperationDetail"
            }
          },
          "nextLink": {
            "description": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
            "type": "string"
          }
        }
      },
      "OperationDetail": {
        "description": "Service REST API operation.",
        "type": "object",
        "properties": {
          "name": {
            "description": "Name of the operation",
            "type": "string",
            "readOnly": true
          },
          "isDataAction": {
            "description": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations.",
            "type": "boolean",
            "readOnly": true
          },
          "display": {
            "$ref": "healthcare-apis.json#/components/schemas/OperationDisplay",
            "description": "Display of the operation"
          },
          "origin": {
            "readOnly": true,
            "type": "string",
            "description": "Default value is 'user,system'."
          },
          "actionType": {
            "description": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs.",
            "type": "string",
            "readOnly": true,
            "enum": [
              "Internal"
            ],
            "x-ms-enum": {
              "name": "ActionType",
              "modelAsString": true
            }
          },
          "properties": {
            "$ref": "healthcare-apis.json#/components/schemas/OperationProperties",
            "description": "Properties of the operation"
          }
        }
      },
      "OperationDisplay": {
        "description": "The object that represents the operation.",
        "type": "object",
        "properties": {
          "provider": {
            "readOnly": true,
            "type": "string",
            "description": "Service provider: Microsoft.HealthcareApis"
          },
          "resource": {
            "readOnly": true,
            "type": "string",
            "description": "Resource Type: Services"
          },
          "operation": {
            "readOnly": true,
            "type": "string",
            "description": "Name of the operation"
          },
          "description": {
            "readOnly": true,
            "type": "string",
            "description": "Friendly description for the operation,"
          }
        }
      },
      "OperationResultsDescription": {
        "description": "The properties indicating the operation result of an operation on a service.",
        "type": "object",
        "properties": {
          "id": {
            "description": "The ID of the operation returned.",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "The name of the operation result.",
            "readOnly": true,
            "type": "string"
          },
          "status": {
            "description": "The status of the operation being performed.",
            "enum": [
              "Canceled",
              "Succeeded",
              "Failed",
              "Requested",
              "Running"
            ],
            "readOnly": true,
            "type": "string",
            "x-ms-enum": {
              "name": "OperationResultStatus",
              "modelAsString": true
            }
          },
          "startTime": {
            "description": "The time that the operation was started.",
            "readOnly": true,
            "type": "string"
          },
          "endTime": {
            "description": "The time that the operation finished.",
            "readOnly": true,
            "type": "string"
          },
          "properties": {
            "x-ms-client-flatten": false,
            "description": "Additional properties of the operation result.",
            "type": "object"
          }
        }
      },
      "OperationProperties": {
        "description": "Extra Operation properties",
        "type": "object",
        "properties": {
          "serviceSpecification": {
            "$ref": "healthcare-apis.json#/components/schemas/ServiceSpecification",
            "description": "Service specifications of the operation"
          }
        }
      },
      "ServiceSpecification": {
        "description": "Service specification payload",
        "type": "object",
        "properties": {
          "logSpecifications": {
            "description": "Specifications of the Log for Azure Monitoring",
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/LogSpecification"
            },
            "x-ms-identifiers": []
          },
          "metricSpecifications": {
            "description": "Specifications of the Metrics for Azure Monitoring",
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/MetricSpecification"
            },
            "x-ms-identifiers": []
          }
        }
      },
      "LogSpecification": {
        "description": "Specifications of the Log for Azure Monitoring",
        "type": "object",
        "properties": {
          "name": {
            "description": "Name of the log",
            "type": "string"
          },
          "displayName": {
            "description": "Localized friendly display name of the log",
            "type": "string"
          },
          "blobDuration": {
            "description": "Blob duration of the log",
            "type": "string"
          }
        }
      },
      "MetricSpecification": {
        "description": "Specifications of the Metrics for Azure Monitoring",
        "type": "object",
        "properties": {
          "name": {
            "description": "Name of the metric",
            "type": "string"
          },
          "displayName": {
            "description": "Localized friendly display name of the metric",
            "type": "string"
          },
          "displayDescription": {
            "description": "Localized friendly description of the metric",
            "type": "string"
          },
          "unit": {
            "description": "Unit that makes sense for the metric",
            "type": "string"
          },
          "category": {
            "description": "Name of the metric category that the metric belongs to. A metric can only belong to a single category.",
            "type": "string"
          },
          "aggregationType": {
            "description": "Only provide one value for this field. Valid values: Average, Minimum, Maximum, Total, Count.",
            "type": "string"
          },
          "supportedAggregationTypes": {
            "description": "Supported aggregation types",
            "uniqueItems": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "supportedTimeGrainTypes": {
            "description": "Supported time grain types",
            "uniqueItems": false,
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "fillGapWithZero": {
            "description": "Optional. If set to true, then zero will be returned for time duration where no metric is emitted/published.",
            "type": "boolean"
          },
          "dimensions": {
            "description": "Dimensions of the metric",
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/MetricDimension"
            },
            "x-ms-identifiers": []
          },
          "sourceMdmNamespace": {
            "description": "Name of the MDM namespace. Optional.",
            "type": "string"
          }
        }
      },
      "MetricDimension": {
        "description": "Specifications of the Dimension of metrics",
        "type": "object",
        "properties": {
          "name": {
            "description": "Name of the dimension",
            "type": "string"
          },
          "displayName": {
            "description": "Localized friendly display name of the dimension",
            "type": "string"
          },
          "toBeExportedForShoebox": {
            "description": "Whether this dimension should be included for the Shoebox export scenario",
            "type": "boolean"
          }
        }
      },
      "ProvisioningState": {
        "description": "The provisioning state.",
        "enum": [
          "Deleting",
          "Succeeded",
          "Creating",
          "Accepted",
          "Verifying",
          "Updating",
          "Failed",
          "Canceled",
          "Deprovisioned",
          "Moving",
          "Suspended",
          "Warned",
          "SystemMaintenance"
        ],
        "type": "string",
        "readOnly": true,
        "x-ms-enum": {
          "name": "provisioningState",
          "modelAsString": true
        }
      },
      "ResourceTags": {
        "type": "object",
        "description": "List of key value pairs that describe the resource. This will overwrite the existing tags.",
        "properties": {
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "x-ms-mutability": [
              "read",
              "create",
              "update"
            ],
            "description": "Resource tags."
          }
        }
      },
      "ResourceCore": {
        "type": "object",
        "description": "The common properties for any resource, tracked or proxy.",
        "properties": {
          "id": {
            "readOnly": true,
            "type": "string",
            "description": "The resource identifier."
          },
          "name": {
            "readOnly": true,
            "type": "string",
            "description": "The resource name.",
            "pattern": "^[a-z0-9][a-z0-9-]{1,21}[a-z0-9]$"
          },
          "type": {
            "readOnly": true,
            "type": "string",
            "description": "The resource type."
          },
          "etag": {
            "description": "An etag associated with the resource, used for optimistic concurrency when editing it.",
            "type": "string"
          }
        },
        "x-ms-azure-resource": true
      },
      "LocationBasedResource": {
        "type": "object",
        "description": "The common properties for any location based resource, tracked or proxy.",
        "allOf": [
          {
            "$ref": "healthcare-apis.json#/components/schemas/ResourceCore"
          }
        ],
        "properties": {
          "location": {
            "type": "string",
            "description": "The resource location.",
            "x-ms-mutability": [
              "create",
              "read"
            ]
          }
        },
        "x-ms-azure-resource": true
      },
      "TaggedResource": {
        "type": "object",
        "description": "The common properties of tracked resources in the service.",
        "allOf": [
          {
            "$ref": "healthcare-apis.json#/components/schemas/ResourceTags"
          },
          {
            "$ref": "healthcare-apis.json#/components/schemas/LocationBasedResource"
          }
        ],
        "x-ms-azure-resource": true
      },
      "ServiceManagedIdentity": {
        "type": "object",
        "description": "Managed service identity (system assigned and/or user assigned identities)",
        "properties": {
          "identity": {
            "type": "object",
            "description": "Setting indicating whether the service has a managed identity associated with it.",
            "properties": {
              "type": {
                "description": "Type of identity being specified, currently SystemAssigned and None are allowed.",
                "type": "string",
                "enum": [
                  "None",
                  "SystemAssigned",
                  "UserAssigned",
                  "SystemAssigned,UserAssigned"
                ],
                "x-ms-enum": {
                  "name": "ServiceManagedIdentityType",
                  "modelAsString": true
                }
              },
              "principalId": {
                "readOnly": true,
                "format": "uuid",
                "type": "string",
                "description": "The service principal ID of the system assigned identity. This property will only be provided for a system assigned identity."
              },
              "tenantId": {
                "readOnly": true,
                "format": "uuid",
                "type": "string",
                "description": "The tenant ID of the system assigned identity. This property will only be provided for a system assigned identity."
              },
              "userAssignedIdentities": {
                "$ref": "healthcare-apis.json#/components/schemas/UserAssignedIdentities"
              }
            },
            "required": [
              "type"
            ]
          }
        }
      },
      "UserAssignedIdentity": {
        "type": "object",
        "description": "User assigned identity properties",
        "properties": {
          "principalId": {
            "description": "The principal ID of the assigned identity.",
            "format": "uuid",
            "type": "string",
            "readOnly": true
          },
          "clientId": {
            "description": "The client ID of the assigned identity.",
            "format": "uuid",
            "type": "string",
            "readOnly": true
          }
        }
      },
      "UserAssignedIdentities": {
        "title": "User-Assigned Identities",
        "description": "The set of user assigned identities associated with the resource. The userAssignedIdentities dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}. The dictionary values can be empty objects ({}) in requests.",
        "type": "object",
        "additionalProperties": {
          "$ref": "healthcare-apis.json#/components/schemas/UserAssignedIdentity"
        }
      },
      "Workspace": {
        "type": "object",
        "description": "Workspace resource.",
        "allOf": [
          {
            "$ref": "healthcare-apis.json#/components/schemas/TaggedResource"
          }
        ],
        "properties": {
          "properties": {
            "x-ms-client-flatten": false,
            "type": "object",
            "description": "Workspaces resource specific properties.",
            "x-ms-azure-resource": true,
            "properties": {
              "provisioningState": {
                "description": "The provisioning state.",
                "$ref": "healthcare-apis.json#/components/schemas/ProvisioningState"
              },
              "privateEndpointConnections": {
                "description": "The list of private endpoint connections that are set up for this resource.",
                "type": "array",
                "items": {
                  "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection"
                },
                "readOnly": true
              },
              "publicNetworkAccess": {
                "description": "Control permission for data plane traffic coming from public networks while private endpoint is enabled.",
                "$ref": "healthcare-apis.json#/components/schemas/ResourcePublicNetworkAccess"
              }
            }
          },
          "systemData": {
            "description": "Metadata pertaining to creation and last modification of the resource.",
            "$ref": "healthcare-apis.json#/components/schemas/systemData"
          }
        }
      },
      "WorkspacePatchResource": {
        "type": "object",
        "description": "Workspace patch properties",
        "allOf": [
          {
            "$ref": "healthcare-apis.json#/components/schemas/ResourceTags"
          }
        ]
      },
      "WorkspaceList": {
        "description": "Collection of workspace object with a next link",
        "type": "object",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page.",
            "type": "string"
          },
          "value": {
            "description": "Collection of resources.",
            "type": "array",
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/Workspace"
            }
          }
        }
      },
      "DicomService": {
        "type": "object",
        "description": "The description of Dicom Service",
        "allOf": [
          {
            "$ref": "healthcare-apis.json#/components/schemas/TaggedResource"
          },
          {
            "$ref": "healthcare-apis.json#/components/schemas/ServiceManagedIdentity"
          }
        ],
        "properties": {
          "properties": {
            "description": "Dicom Service configuration.",
            "$ref": "healthcare-apis.json#/components/schemas/DicomServiceProperties",
            "x-ms-client-flatten": true
          },
          "systemData": {
            "description": "Metadata pertaining to creation and last modification of the resource.",
            "$ref": "healthcare-apis.json#/components/schemas/systemData"
          }
        }
      },
      "DicomServicePatchResource": {
        "type": "object",
        "description": "Dicom Service patch properties",
        "allOf": [
          {
            "$ref": "healthcare-apis.json#/components/schemas/ResourceTags"
          },
          {
            "$ref": "healthcare-apis.json#/components/schemas/ServiceManagedIdentity"
          }
        ]
      },
      "DicomServiceCollection": {
        "description": "The collection of Dicom Services.",
        "type": "object",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of Dicom Services.",
            "type": "string"
          },
          "value": {
            "description": "The list of Dicom Services.",
            "type": "array",
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/DicomService"
            }
          }
        }
      },
      "DicomServiceProperties": {
        "description": "Dicom Service properties.",
        "type": "object",
        "properties": {
          "provisioningState": {
            "description": "The provisioning state.",
            "$ref": "healthcare-apis.json#/components/schemas/ProvisioningState"
          },
          "authenticationConfiguration": {
            "description": "Dicom Service authentication configuration.",
            "$ref": "healthcare-apis.json#/components/schemas/DicomServiceAuthenticationConfiguration"
          },
          "serviceUrl": {
            "description": "The url of the Dicom Services.",
            "type": "string",
            "readOnly": true
          },
          "privateEndpointConnections": {
            "description": "The list of private endpoint connections that are set up for this resource.",
            "type": "array",
            "items": {
              "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection"
            },
            "readOnly": true
          },
          "publicNetworkAccess": {
            "description": "Control permission for data plane traffic coming from public networks while private endpoint is enabled.",
            "$ref": "healthcare-apis.json#/components/schemas/ResourcePublicNetworkAccess"
          }
        }
      },
      "DicomServiceAuthenticationConfiguration": {
        "description": "Authentication configuration information",
        "type": "object",
        "properties": {
          "authority": {
            "type": "string",
            "description": "The authority url for the service",
            "readOnly": true
          },
          "audiences": {
            "type": "array",
            "description": "The audiences for the service",
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/DicomAudience"
            },
            "readOnly": true
          }
        }
      },
      "DicomAudience": {
        "description": "The audience for Dicom Service",
        "type": "string",
        "readOnly": true
      },
      "IotConnector": {
        "type": "object",
        "description": "IoT Connector definition.",
        "allOf": [
          {
            "$ref": "healthcare-apis.json#/components/schemas/TaggedResource"
          },
          {
            "$ref": "healthcare-apis.json#/components/schemas/ServiceManagedIdentity"
          }
        ],
        "properties": {
          "properties": {
            "description": "IoT Connector configuration.",
            "$ref": "healthcare-apis.json#/components/schemas/IotConnectorProperties",
            "x-ms-client-flatten": true
          },
          "systemData": {
            "description": "Metadata pertaining to creation and last modification of the resource.",
            "$ref": "healthcare-apis.json#/components/schemas/systemData"
          }
        }
      },
      "IotConnectorPatchResource": {
        "type": "object",
        "description": "Iot Connector patch properties",
        "allOf": [
          {
            "$ref": "healthcare-apis.json#/components/schemas/ResourceTags"
          },
          {
            "$ref": "healthcare-apis.json#/components/schemas/ServiceManagedIdentity"
          }
        ]
      },
      "IotConnectorCollection": {
        "description": "A collection of IoT Connectors.",
        "type": "object",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of IoT Connectors.",
            "type": "string"
          },
          "value": {
            "description": "The list of IoT Connectors.",
            "type": "array",
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/IotConnector"
            }
          }
        }
      },
      "IotConnectorProperties": {
        "description": "IoT Connector properties.",
        "type": "object",
        "properties": {
          "provisioningState": {
            "description": "The provisioning state.",
            "$ref": "healthcare-apis.json#/components/schemas/ProvisioningState"
          },
          "ingestionEndpointConfiguration": {
            "description": "Source configuration.",
            "$ref": "healthcare-apis.json#/components/schemas/IotEventHubIngestionEndpointConfiguration"
          },
          "deviceMapping": {
            "description": "Device Mappings.",
            "$ref": "healthcare-apis.json#/components/schemas/IotMappingProperties"
          }
        }
      },
      "IotEventHubIngestionEndpointConfiguration": {
        "type": "object",
        "properties": {
          "eventHubName": {
            "type": "string",
            "description": "Event Hub name to connect to."
          },
          "consumerGroup": {
            "type": "string",
            "description": "Consumer group of the event hub to connected to."
          },
          "fullyQualifiedEventHubNamespace": {
            "type": "string",
            "description": "Fully qualified namespace of the Event Hub to connect to."
          }
        },
        "description": "Event Hub ingestion endpoint configuration"
      },
      "IotMappingProperties": {
        "description": "The mapping content.",
        "type": "object",
        "properties": {
          "content": {
            "description": "The mapping.",
            "type": "object"
          }
        }
      },
      "IotIdentityResolutionType": {
        "description": "The type of IoT identity resolution to use with the destination.",
        "enum": [
          "Create",
          "Lookup"
        ],
        "type": "string",
        "x-ms-enum": {
          "name": "IotIdentityResolutionType",
          "modelAsString": true
        }
      },
      "IotDestinationProperties": {
        "type": "object",
        "description": "Common IoT Connector destination properties.",
        "properties": {
          "provisioningState": {
            "description": "The provisioning state.",
            "$ref": "healthcare-apis.json#/components/schemas/ProvisioningState",
            "x-ms-client-flatten": true
          }
        }
      },
      "IotFhirDestinationProperties": {
        "required": [
          "resourceIdentityResolutionType",
          "fhirServiceResourceId",
          "fhirMapping"
        ],
        "type": "object",
        "allOf": [
          {
            "$ref": "healthcare-apis.json#/components/schemas/IotDestinationProperties"
          }
        ],
        "description": "IoT Connector destination properties for an Azure FHIR service.",
        "properties": {
          "resourceIdentityResolutionType": {
            "description": "Determines how resource identity is resolved on the destination.",
            "$ref": "healthcare-apis.json#/components/schemas/IotIdentityResolutionType"
          },
          "fhirServiceResourceId": {
            "type": "string",
            "description": "Fully qualified resource id of the FHIR service to connect to."
          },
          "fhirMapping": {
            "description": "FHIR Mappings",
            "$ref": "healthcare-apis.json#/components/schemas/IotMappingProperties"
          }
        }
      },
      "IotFhirDestination": {
        "required": [
          "properties"
        ],
        "type": "object",
        "description": "IoT Connector FHIR destination definition.",
        "allOf": [
          {
            "$ref": "healthcare-apis.json#/components/schemas/LocationBasedResource"
          }
        ],
        "properties": {
          "properties": {
            "description": "IoT FHIR Destination settings.",
            "$ref": "healthcare-apis.json#/components/schemas/IotFhirDestinationProperties",
            "x-ms-client-flatten": true
          },
          "systemData": {
            "description": "Metadata pertaining to creation and last modification of the resource.",
            "$ref": "healthcare-apis.json#/components/schemas/systemData"
          }
        }
      },
      "IotFhirDestinationCollection": {
        "description": "A collection of IoT Connector FHIR destinations.",
        "type": "object",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of IoT FHIR destinations.",
            "type": "string"
          },
          "value": {
            "description": "The list of IoT Connector FHIR destinations.",
            "type": "array",
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/IotFhirDestination"
            }
          }
        }
      },
      "FhirServiceCollection": {
        "description": "A collection of Fhir services.",
        "type": "object",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of Fhir Services.",
            "type": "string"
          },
          "value": {
            "description": "The list of Fhir Services.",
            "type": "array",
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/FhirService"
            }
          }
        }
      },
      "FhirService": {
        "type": "object",
        "description": "The description of Fhir Service",
        "allOf": [
          {
            "$ref": "healthcare-apis.json#/components/schemas/TaggedResource"
          },
          {
            "$ref": "healthcare-apis.json#/components/schemas/ServiceManagedIdentity"
          }
        ],
        "properties": {
          "kind": {
            "readOnly": false,
            "type": "string",
            "description": "The kind of the service.",
            "enum": [
              "fhir-Stu3",
              "fhir-R4"
            ],
            "x-ms-enum": {
              "name": "fhirServiceKind",
              "modelAsString": true
            }
          },
          "properties": {
            "description": "Fhir Service configuration.",
            "$ref": "healthcare-apis.json#/components/schemas/FhirServiceProperties",
            "x-ms-client-flatten": true
          },
          "systemData": {
            "description": "Metadata pertaining to creation and last modification of the resource.",
            "$ref": "healthcare-apis.json#/components/schemas/systemData"
          }
        }
      },
      "FhirServicePatchResource": {
        "type": "object",
        "description": "FhirService patch properties",
        "allOf": [
          {
            "$ref": "healthcare-apis.json#/components/schemas/ResourceTags"
          },
          {
            "$ref": "healthcare-apis.json#/components/schemas/ServiceManagedIdentity"
          }
        ]
      },
      "FhirServiceProperties": {
        "description": "Fhir Service properties.",
        "type": "object",
        "properties": {
          "provisioningState": {
            "description": "The provisioning state.",
            "$ref": "healthcare-apis.json#/components/schemas/ProvisioningState"
          },
          "accessPolicies": {
            "description": "Fhir Service access policies.",
            "$ref": "healthcare-apis.json#/components/schemas/FhirServiceAccessPolicies"
          },
          "acrConfiguration": {
            "description": "Fhir Service Azure container registry configuration.",
            "$ref": "healthcare-apis.json#/components/schemas/FhirServiceAcrConfiguration"
          },
          "authenticationConfiguration": {
            "description": "Fhir Service authentication configuration.",
            "$ref": "healthcare-apis.json#/components/schemas/FhirServiceAuthenticationConfiguration"
          },
          "corsConfiguration": {
            "description": "Fhir Service Cors configuration.",
            "$ref": "healthcare-apis.json#/components/schemas/FhirServiceCorsConfiguration"
          },
          "exportConfiguration": {
            "description": "Fhir Service export configuration.",
            "$ref": "healthcare-apis.json#/components/schemas/FhirServiceExportConfiguration"
          },
          "privateEndpointConnections": {
            "description": "The list of private endpoint connections that are set up for this resource.",
            "type": "array",
            "items": {
              "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection"
            },
            "readOnly": true
          },
          "publicNetworkAccess": {
            "description": "Control permission for data plane traffic coming from public networks while private endpoint is enabled.",
            "$ref": "healthcare-apis.json#/components/schemas/ResourcePublicNetworkAccess"
          },
          "eventState": {
            "description": "Fhir Service event support status.",
            "$ref": "healthcare-apis.json#/components/schemas/ResourceEventState"
          },
          "resourceVersionPolicyConfiguration": {
            "description": "Determines tracking of history for resources.",
            "$ref": "healthcare-apis.json#/components/schemas/ResourceVersionPolicyConfiguration"
          }
        }
      },
      "ResourceVersionPolicyConfiguration": {
        "description": "The settings for history tracking for FHIR resources.",
        "type": "object",
        "properties": {
          "default": {
            "description": "The default value for tracking history across all resources.",
            "$ref": "healthcare-apis.json#/components/schemas/FhirResourceVersionPolicy"
          },
          "resourceTypeOverrides": {
            "description": "A list of FHIR Resources and their version policy overrides.",
            "type": "object",
            "additionalProperties": {
              "$ref": "healthcare-apis.json#/components/schemas/FhirResourceVersionPolicy"
            }
          }
        }
      },
      "FhirResourceVersionPolicy": {
        "type": "string",
        "description": "Controls how resources are versioned on the FHIR service",
        "enum": [
          "no-version",
          "versioned",
          "versioned-update"
        ],
        "x-ms-enum": {
          "name": "FhirResourceVersionPolicy",
          "modelAsString": true
        }
      },
      "FhirServiceAccessPolicies": {
        "description": "The access policies of the service instance.",
        "type": "array",
        "items": {
          "$ref": "healthcare-apis.json#/components/schemas/FhirServiceAccessPolicyEntry"
        }
      },
      "FhirServiceAccessPolicyEntry": {
        "type": "object",
        "description": "An access policy entry.",
        "properties": {
          "objectId": {
            "description": "An Azure AD object ID (User or Apps) that is allowed access to the FHIR service.",
            "type": "string",
            "pattern": "^(([0-9A-Fa-f]{8}[-]?(?:[0-9A-Fa-f]{4}[-]?){3}[0-9A-Fa-f]{12}){1})+$"
          }
        },
        "required": [
          "objectId"
        ]
      },
      "FhirServiceAcrConfiguration": {
        "description": "Azure container registry configuration information",
        "type": "object",
        "properties": {
          "loginServers": {
            "type": "array",
            "description": "The list of the Azure container registry login servers.",
            "readOnly": false,
            "items": {
              "type": "string"
            }
          },
          "ociArtifacts": {
            "type": "array",
            "description": "The list of Open Container Initiative (OCI) artifacts.",
            "readOnly": false,
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/ServiceOciArtifactEntry"
            },
            "x-ms-identifiers": []
          }
        }
      },
      "FhirServiceAuthenticationConfiguration": {
        "description": "Authentication configuration information",
        "type": "object",
        "properties": {
          "authority": {
            "type": "string",
            "description": "The authority url for the service",
            "readOnly": false
          },
          "audience": {
            "type": "string",
            "description": "The audience url for the service",
            "readOnly": false
          },
          "smartProxyEnabled": {
            "type": "boolean",
            "description": "If the SMART on FHIR proxy is enabled",
            "readOnly": false
          }
        }
      },
      "FhirServiceCorsConfiguration": {
        "description": "The settings for the CORS configuration of the service instance.",
        "type": "object",
        "properties": {
          "origins": {
            "type": "array",
            "description": "The origins to be allowed via CORS.",
            "readOnly": false,
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/CorsConfigurationOriginEntry"
            }
          },
          "headers": {
            "type": "array",
            "description": "The headers to be allowed via CORS.",
            "readOnly": false,
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/CorsConfigurationHeaderEntry"
            }
          },
          "methods": {
            "type": "array",
            "description": "The methods to be allowed via CORS.",
            "readOnly": false,
            "items": {
              "$ref": "healthcare-apis.json#/components/schemas/CorsConfigurationMethodEntry"
            }
          },
          "maxAge": {
            "type": "integer",
            "format": "int32",
            "description": "The max age to be allowed via CORS.",
            "readOnly": false,
            "minimum": 0,
            "maximum": 99999
          },
          "allowCredentials": {
            "type": "boolean",
            "description": "If credentials are allowed via CORS.",
            "readOnly": false
          }
        }
      },
      "CorsConfigurationOriginEntry": {
        "description": "An origin for CORS.",
        "type": "string",
        "pattern": "^(?:(?:(?:[hH][tT][tT][pP](?:[sS]|))\\:\\/\\/(?:[a-zA-Z0-9-]+[.]?)+(?:\\:[0-9]{1,5})?|[*]))$"
      },
      "CorsConfigurationHeaderEntry": {
        "description": "A header for CORS.",
        "type": "string"
      },
      "CorsConfigurationMethodEntry": {
        "description": "A method for CORS.",
        "type": "string"
      },
      "ServiceOciArtifactEntry": {
        "description": "An Open Container Initiative (OCI) artifact.",
        "type": "object",
        "properties": {
          "loginServer": {
            "description": "The Azure Container Registry login server.",
            "type": "string"
          },
          "imageName": {
            "description": "The artifact name.",
            "type": "string"
          },
          "digest": {
            "description": "The artifact digest.",
            "type": "string"
          }
        }
      },
      "FhirServiceExportConfiguration": {
        "description": "Export operation configuration information",
        "type": "object",
        "properties": {
          "storageAccountName": {
            "type": "string",
            "description": "The name of the default export storage account.",
            "readOnly": false
          }
        }
      },
      "systemData": {
        "description": "Metadata pertaining to creation and last modification of the resource.",
        "type": "object",
        "readOnly": true,
        "properties": {
          "createdBy": {
            "type": "string",
            "description": "The identity that created the resource."
          },
          "createdByType": {
            "type": "string",
            "description": "The type of identity that created the resource.",
            "enum": [
              "User",
              "Application",
              "ManagedIdentity",
              "Key"
            ],
            "x-ms-enum": {
              "name": "createdByType",
              "modelAsString": true
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp of resource creation (UTC)."
          },
          "lastModifiedBy": {
            "type": "string",
            "description": "The identity that last modified the resource."
          },
          "lastModifiedByType": {
            "type": "string",
            "description": "The type of identity that last modified the resource.",
            "enum": [
              "User",
              "Application",
              "ManagedIdentity",
              "Key"
            ],
            "x-ms-enum": {
              "name": "createdByType",
              "modelAsString": true
            }
          },
          "lastModifiedAt": {
            "type": "string",
            "format": "date-time",
            "description": "The timestamp of resource last modification (UTC)"
          }
        }
      },
      "ResourcePublicNetworkAccess": {
        "description": "Control permission for data plane traffic coming from public networks while private endpoint is enabled.",
        "enum": [
          "Enabled",
          "Disabled"
        ],
        "type": "string",
        "x-ms-enum": {
          "name": "PublicNetworkAccess",
          "modelAsString": true
        },
        "readOnly": true
      },
      "PrivateEndpointConnectionListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "description": "Array of private endpoint connections",
            "items": {
              "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          }
        },
        "description": "List of private endpoint connection associated with the specified storage account"
      },
      "ResourceEventState": {
        "type": "string",
        "description": "Indicates the current status of event support for the resource.",
        "enum": [
          "Disabled",
          "Enabled",
          "Updating"
        ],
        "x-ms-enum": {
          "name": "ServiceEventState",
          "modelAsString": true
        },
        "readOnly": true
      }
    },
    "parameters": {
      "subscriptionId": {
        "name": "subscriptionId",
        "in": "path",
        "description": "The subscription identifier.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "apiVersion": {
        "name": "api-version",
        "in": "query",
        "description": "Client Api Version.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "resourceGroupName": {
        "name": "resourceGroupName",
        "in": "path",
        "description": "The name of the resource group that contains the service instance.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "pattern": "^[-\\w\\._\\(\\)]+$",
          "minLength": 1,
          "maxLength": 90,
          "type": "string"
        }
      },
      "locationName": {
        "name": "locationName",
        "in": "path",
        "description": "The location of the operation.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string"
        }
      },
      "operationResultId": {
        "name": "operationResultId",
        "in": "path",
        "description": "The ID of the operation result to get.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "type": "string"
        }
      },
      "workspaceName": {
        "name": "workspaceName",
        "in": "path",
        "description": "The name of workspace resource.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "minLength": 3,
          "maxLength": 24,
          "type": "string"
        }
      },
      "dicomServiceName": {
        "name": "dicomServiceName",
        "in": "path",
        "description": "The name of DICOM Service resource.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "minLength": 3,
          "maxLength": 24,
          "type": "string"
        }
      },
      "iotConnectorName": {
        "name": "iotConnectorName",
        "in": "path",
        "description": "The name of IoT Connector resource.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "minLength": 3,
          "maxLength": 24,
          "type": "string"
        }
      },
      "fhirDestinationName": {
        "name": "fhirDestinationName",
        "in": "path",
        "description": "The name of IoT Connector FHIR destination resource.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "minLength": 3,
          "maxLength": 24,
          "type": "string"
        }
      },
      "fhirServiceName": {
        "name": "fhirServiceName",
        "in": "path",
        "description": "The name of FHIR Service resource.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "minLength": 3,
          "maxLength": 24,
          "type": "string"
        }
      },
      "resourceName": {
        "name": "resourceName",
        "in": "path",
        "description": "The name of the service instance.",
        "required": true,
        "x-ms-parameter-location": "method",
        "schema": {
          "minLength": 3,
          "maxLength": 24,
          "type": "string"
        }
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "description": "Client Api Version.",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/services/{resourceName}": {
      "get": {
        "tags": [
          "Resource"
        ],
        "description": "Get the metadata of a service instance.",
        "operationId": "Services_Get",
        "parameters": [
          {
            "$ref": "healthcare-apis.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/subscriptionId"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/resourceName"
          }
        ],
        "responses": {
          "200": {
            "description": "The body contains all of the properties of the service instance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ServicesDescription"
                }
              }
            }
          },
          "default": {
            "description": "Default error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Get metadata": {
            "parameters": {
              "resourceName": "service1",
              "resourceGroupName": "rg1",
              "api-version": "2021-11-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1",
                  "name": "service1",
                  "location": "West US",
                  "type": "Microsoft.HealthcareApis/services",
                  "kind": "fhir-R4",
                  "etag": "etagvalue",
                  "tags": {},
                  "properties": {
                    "provisioningState": "Creating",
                    "accessPolicies": [
                      {
                        "objectId": "c487e7d1-3210-41a3-8ccc-e9372b78da47"
                      },
                      {
                        "objectId": "5b307da8-43d4-492b-8b66-b0294ade872f"
                      }
                    ],
                    "cosmosDbConfiguration": {
                      "offerThroughput": 1000,
                      "keyVaultKeyUri": "https://my-vault.vault.azure.net/keys/my-key"
                    },
                    "authenticationConfiguration": {
                      "authority": "https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc",
                      "audience": "https://azurehealthcareapis.com",
                      "smartProxyEnabled": true
                    },
                    "corsConfiguration": {
                      "origins": [
                        "*"
                      ],
                      "headers": [
                        "*"
                      ],
                      "methods": [
                        "DELETE",
                        "GET",
                        "OPTIONS",
                        "PATCH",
                        "POST",
                        "PUT"
                      ],
                      "maxAge": 1440,
                      "allowCredentials": false
                    },
                    "privateEndpointConnections": [],
                    "publicNetworkAccess": "Disabled"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Resource"
        ],
        "description": "Create or update the metadata of a service instance.",
        "operationId": "Services_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "healthcare-apis.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/subscriptionId"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/resourceName"
          }
        ],
        "requestBody": {
          "description": "The service instance metadata.",
          "required": true,
          "x-ms-requestBody-name": "serviceDescription",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "healthcare-apis.json#/components/schemas/ServicesDescription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated - Put request accepted and an existing resource is being updated; the operation will complete asynchronously.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ServicesDescription"
                }
              }
            }
          },
          "201": {
            "description": "Created - Put request accepted and a new resource was created; the operation will complete asynchronously.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ServicesDescription"
                }
              }
            }
          },
          "default": {
            "description": "DefaultErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Create or Update a service with all parameters": {
            "parameters": {
              "resourceName": "service1",
              "resourceGroupName": "rg1",
              "api-version": "2021-11-01",
              "subscriptionId": "subid",
              "serviceDescription": {
                "location": "westus2",
                "tags": {},
                "kind": "fhir-R4",
                "properties": {
                  "accessPolicies": [
                    {
                      "objectId": "c487e7d1-3210-41a3-8ccc-e9372b78da47"
                    },
                    {
                      "objectId": "5b307da8-43d4-492b-8b66-b0294ade872f"
                    }
                  ],
                  "cosmosDbConfiguration": {
                    "offerThroughput": 1000,
                    "keyVaultKeyUri": "https://my-vault.vault.azure.net/keys/my-key"
                  },
                  "authenticationConfiguration": {
                    "authority": "https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc",
                    "audience": "https://azurehealthcareapis.com",
                    "smartProxyEnabled": true
                  },
                  "corsConfiguration": {
                    "origins": [
                      "*"
                    ],
                    "headers": [
                      "*"
                    ],
                    "methods": [
                      "DELETE",
                      "GET",
                      "OPTIONS",
                      "PATCH",
                      "POST",
                      "PUT"
                    ],
                    "maxAge": 1440,
                    "allowCredentials": false
                  },
                  "exportConfiguration": {
                    "storageAccountName": "existingStorageAccount"
                  },
                  "privateEndpointConnections": [],
                  "publicNetworkAccess": "Disabled"
                },
                "identity": {
                  "type": "SystemAssigned"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1",
                  "name": "service1",
                  "location": "West US 2",
                  "type": "Microsoft.HealthcareApis/services",
                  "kind": "fhir-R4",
                  "etag": "etagvalue",
                  "tags": {},
                  "properties": {
                    "provisioningState": "Creating",
                    "accessPolicies": [
                      {
                        "objectId": "c487e7d1-3210-41a3-8ccc-e9372b78da47"
                      },
                      {
                        "objectId": "5b307da8-43d4-492b-8b66-b0294ade872f"
                      }
                    ],
                    "cosmosDbConfiguration": {
                      "offerThroughput": 1000,
                      "keyVaultKeyUri": "https://my-vault.vault.azure.net/keys/my-key"
                    },
                    "authenticationConfiguration": {
                      "authority": "https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc",
                      "audience": "https://azurehealthcareapis.com",
                      "smartProxyEnabled": true
                    },
                    "corsConfiguration": {
                      "origins": [
                        "*"
                      ],
                      "headers": [
                        "*"
                      ],
                      "methods": [
                        "DELETE",
                        "GET",
                        "OPTIONS",
                        "PATCH",
                        "POST",
                        "PUT"
                      ],
                      "maxAge": 1440,
                      "allowCredentials": false
                    },
                    "exportConfiguration": {
                      "storageAccountName": "existingStorageAccount"
                    },
                    "privateEndpointConnections": [],
                    "publicNetworkAccess": "Disabled"
                  },
                  "identity": {
                    "principalId": "03fe6ae0-952c-4e4b-954b-cc0364dd252e",
                    "tenantId": "72f988bf-86f1-41af-91ab-2d8cd011db47",
                    "type": "SystemAssigned"
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1",
                  "name": "service1",
                  "location": "West US 2",
                  "type": "Microsoft.HealthcareApis/services",
                  "kind": "fhir-R4",
                  "etag": "etagvalue",
                  "tags": {},
                  "properties": {
                    "provisioningState": "Creating",
                    "accessPolicies": [
                      {
                        "objectId": "c487e7d1-3210-41a3-8ccc-e9372b78da47"
                      },
                      {
                        "objectId": "5b307da8-43d4-492b-8b66-b0294ade872f"
                      }
                    ],
                    "cosmosDbConfiguration": {
                      "offerThroughput": 1000
                    },
                    "authenticationConfiguration": {
                      "authority": "https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc",
                      "audience": "https://azurehealthcareapis.com",
                      "smartProxyEnabled": true
                    },
                    "corsConfiguration": {
                      "origins": [
                        "*"
                      ],
                      "headers": [
                        "*"
                      ],
                      "methods": [
                        "DELETE",
                        "GET",
                        "OPTIONS",
                        "PATCH",
                        "POST",
                        "PUT"
                      ],
                      "maxAge": 1440,
                      "allowCredentials": false
                    },
                    "exportConfiguration": {
                      "storageAccountName": "existingStorageAccount"
                    },
                    "privateEndpointConnections": [],
                    "publicNetworkAccess": "Disabled"
                  },
                  "identity": {
                    "principalId": "03fe6ae0-952c-4e4b-954b-cc0364dd252e",
                    "tenantId": "72f988bf-86f1-41af-91ab-2d8cd011db47",
                    "type": "SystemAssigned"
                  }
                }
              }
            }
          },
          "Create or Update a service with minimum parameters": {
            "parameters": {
              "resourceName": "service2",
              "resourceGroupName": "rg1",
              "api-version": "2021-11-01",
              "subscriptionId": "subid",
              "serviceDescription": {
                "location": "westus2",
                "tags": {},
                "kind": "fhir-R4",
                "properties": {
                  "accessPolicies": [
                    {
                      "objectId": "c487e7d1-3210-41a3-8ccc-e9372b78da47"
                    }
                  ]
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service2",
                  "name": "service2",
                  "type": "Microsoft.HealthcareApis/services",
                  "etag": "etagvalue",
                  "location": "westus2",
                  "kind": "fhir-R4",
                  "tags": {},
                  "properties": {
                    "accessPolicies": [
                      {
                        "objectId": "c487e7d1-3210-41a3-8ccc-e9372b78da47"
                      }
                    ],
                    "cosmosDbConfiguration": {
                      "offerThroughput": 1000
                    },
                    "authenticationConfiguration": {
                      "authority": "https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc",
                      "audience": "https://azurehealthcareapis.com",
                      "smartProxyEnabled": false
                    },
                    "corsConfiguration": {
                      "origins": [],
                      "headers": [],
                      "methods": [],
                      "maxAge": null,
                      "allowCredentials": false
                    },
                    "provisioningState": "Creating",
                    "privateEndpointConnections": [],
                    "publicNetworkAccess": "Disabled"
                  }
                }
              },
              "201": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service2",
                  "name": "service2",
                  "type": "Microsoft.HealthcareApis/services",
                  "etag": "etagvalue",
                  "location": "westus2",
                  "kind": "fhir-R4",
                  "tags": {},
                  "properties": {
                    "accessPolicies": [
                      {
                        "objectId": "c487e7d1-3210-41a3-8ccc-e9372b78da47"
                      }
                    ],
                    "cosmosDbConfiguration": {
                      "offerThroughput": 1000,
                      "keyVaultKeyUri": null
                    },
                    "authenticationConfiguration": {
                      "authority": "https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc",
                      "audience": "https://azurehealthcareapis.com",
                      "smartProxyEnabled": false
                    },
                    "corsConfiguration": {
                      "origins": [],
                      "headers": [],
                      "methods": [],
                      "maxAge": null,
                      "allowCredentials": false
                    },
                    "provisioningState": "Creating",
                    "privateEndpointConnections": [],
                    "publicNetworkAccess": "Disabled"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Resource"
        ],
        "description": "Update the metadata of a service instance.",
        "operationId": "Services_Update",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "healthcare-apis.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/subscriptionId"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/resourceName"
          }
        ],
        "requestBody": {
          "description": "The service instance metadata and security metadata.",
          "required": true,
          "x-ms-requestBody-name": "servicePatchDescription",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "healthcare-apis.json#/components/schemas/ServicesPatchDescription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The tags for the resource were updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ServicesDescription"
                }
              }
            }
          },
          "default": {
            "description": "DefaultErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Patch service": {
            "parameters": {
              "resourceName": "service1",
              "resourceGroupName": "rg1",
              "api-version": "2021-11-01",
              "subscriptionId": "subid",
              "servicePatchDescription": {
                "tags": {
                  "tag1": "value1",
                  "tag2": "value2"
                }
              }
            },
            "responses": {
              "200": {
                "body": {
                  "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1",
                  "name": "service1",
                  "location": "West US",
                  "type": "Microsoft.HealthcareApis/services",
                  "kind": "fhir-R4",
                  "etag": "etagvalue",
                  "tags": {
                    "tag1": "value1",
                    "tag2": "value2"
                  },
                  "properties": {
                    "provisioningState": "Creating",
                    "accessPolicies": [
                      {
                        "objectId": "c487e7d1-3210-41a3-8ccc-e9372b78da47"
                      },
                      {
                        "objectId": "5b307da8-43d4-492b-8b66-b0294ade872f"
                      }
                    ],
                    "cosmosDbConfiguration": {
                      "offerThroughput": 1000,
                      "keyVaultKeyUri": "https://my-vault.vault.azure.net/keys/my-key"
                    },
                    "authenticationConfiguration": {
                      "authority": "https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc",
                      "audience": "https://azurehealthcareapis.com",
                      "smartProxyEnabled": true
                    },
                    "corsConfiguration": {
                      "origins": [
                        "*"
                      ],
                      "headers": [
                        "*"
                      ],
                      "methods": [
                        "DELETE",
                        "GET",
                        "OPTIONS",
                        "PATCH",
                        "POST",
                        "PUT"
                      ],
                      "maxAge": 1440,
                      "allowCredentials": false
                    },
                    "privateEndpointConnections": [],
                    "publicNetworkAccess": "Disabled"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Resource"
        ],
        "description": "Delete a service instance.",
        "operationId": "Services_Delete",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "healthcare-apis.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/subscriptionId"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/resourceName"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted - Delete request accepted; the operation will complete asynchronously."
          },
          "204": {
            "description": "The resource does not exist."
          },
          "default": {
            "description": "DefaultErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Delete service": {
            "parameters": {
              "resourceName": "service1",
              "resourceGroupName": "rg1",
              "api-version": "2021-11-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "202": {},
              "204": {}
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HealthcareApis/services": {
      "get": {
        "tags": [
          "Collection"
        ],
        "description": "Get all the service instances in a subscription.",
        "operationId": "Services_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "healthcare-apis.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the service instances in the subscription.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ServicesDescriptionListResult"
                }
              }
            }
          },
          "default": {
            "description": "DefaultErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "List all services in subscription": {
            "parameters": {
              "api-version": "2021-11-01",
              "subscriptionId": "subid"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/service1",
                      "name": "service1",
                      "location": "West US",
                      "type": "Microsoft.HealthcareApis/services",
                      "kind": "fhir-R4",
                      "etag": "etag",
                      "tags": {},
                      "properties": {
                        "provisioningState": "Creating",
                        "accessPolicies": [
                          {
                            "objectId": "c487e7d1-3210-41a3-8ccc-e9372b78da47"
                          },
                          {
                            "objectId": "5b307da8-43d4-492b-8b66-b0294ade872f"
                          }
                        ],
                        "cosmosDbConfiguration": {
                          "offerThroughput": 1000,
                          "keyVaultKeyUri": "https://my-vault.vault.azure.net/keys/my-key"
                        },
                        "authenticationConfiguration": {
                          "authority": "https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc",
                          "audience": "https://azurehealthcareapis.com",
                          "smartProxyEnabled": true
                        },
                        "corsConfiguration": {
                          "origins": [
                            "*"
                          ],
                          "headers": [
                            "*"
                          ],
                          "methods": [
                            "DELETE",
                            "GET",
                            "OPTIONS",
                            "PATCH",
                            "POST",
                            "PUT"
                          ],
                          "maxAge": 1440,
                          "allowCredentials": false
                        },
                        "privateEndpointConnections": [],
                        "publicNetworkAccess": "Disabled"
                      }
                    }
                  ],
                  "nextLink": "https://host/subscriptions/subid/providers/Microsoft.HealthcareApis/services?api-version=2018-08-20-preview&%24skipToken=e30%3d"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/services": {
      "get": {
        "tags": [
          "Collection"
        ],
        "description": "Get all the service instances in a resource group.",
        "operationId": "Services_ListByResourceGroup",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "healthcare-apis.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/subscriptionId"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/resourceGroupName"
          }
        ],
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The body contains a JSON-serialized array of the metadata from all the service instances in the resource group.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ServicesDescriptionListResult"
                }
              }
            }
          },
          "default": {
            "description": "DefaultErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "List all services in resource group": {
            "parameters": {
              "api-version": "2021-11-01",
              "subscriptionId": "subid",
              "resourceGroupName": "rgname"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "id": "/subscriptions/subid/resourceGroups/rg1/providers/Microsoft.HealthcareApis/services/dddb8dcb-effb-4290-bb47-ce1e8440c729",
                      "name": "service1",
                      "location": "westus",
                      "type": "Microsoft.HealthcareApis/services",
                      "kind": "fhir-R4",
                      "tags": {},
                      "etag": "etagvalue",
                      "properties": {
                        "provisioningState": "Creating",
                        "accessPolicies": [
                          {
                            "objectId": "c487e7d1-3210-41a3-8ccc-e9372b78da47"
                          },
                          {
                            "objectId": "5b307da8-43d4-492b-8b66-b0294ade872f"
                          }
                        ],
                        "cosmosDbConfiguration": {
                          "offerThroughput": 1000,
                          "keyVaultKeyUri": "https://my-vault.vault.azure.net/keys/my-key"
                        },
                        "authenticationConfiguration": {
                          "authority": "https://login.microsoftonline.com/abfde7b2-df0f-47e6-aabf-2462b07508dc",
                          "audience": "https://azurehealthcareapis.com",
                          "smartProxyEnabled": true
                        },
                        "corsConfiguration": {
                          "origins": [
                            "*"
                          ],
                          "headers": [
                            "*"
                          ],
                          "methods": [
                            "DELETE",
                            "GET",
                            "OPTIONS",
                            "PATCH",
                            "POST",
                            "PUT"
                          ],
                          "maxAge": 1440,
                          "allowCredentials": false
                        },
                        "privateEndpointConnections": [],
                        "publicNetworkAccess": "Disabled"
                      }
                    }
                  ],
                  "nextLink": "https://host/subscriptions/subid/resourceGroups/rgname/providers/Microsoft.HealthcareApis/services?api-version=2018-08-20-preview&%24skipToken=e30%3d"
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HealthcareApis/checkNameAvailability": {
      "post": {
        "tags": [
          "Proxy"
        ],
        "description": "Check if a service instance name is available.",
        "operationId": "Services_CheckNameAvailability",
        "parameters": [
          {
            "$ref": "healthcare-apis.json#/components/parameters/ApiVersionParameter"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/subscriptionId"
          }
        ],
        "requestBody": {
          "description": "Set the name parameter in the CheckNameAvailabilityParameters structure to the name of the service instance to check.",
          "required": true,
          "x-ms-requestBody-name": "checkNameAvailabilityInputs",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "healthcare-apis.json#/components/schemas/CheckNameAvailabilityParameters"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "This is a synchronous operation. The body contains a JSON-serialized response that specifies whether the service name is available. If the name is not available, the body contains the reason.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ServicesNameAvailabilityInfo"
                }
              }
            }
          },
          "default": {
            "description": "DefaultErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Check name availability": {
            "parameters": {
              "api-version": "2021-11-01",
              "subscriptionId": "subid",
              "checkNameAvailabilityInputs": {
                "type": "Microsoft.HealthcareApis/services",
                "name": "serviceName"
              }
            },
            "responses": {
              "200": {
                "body": {
                  "nameAvailable": false,
                  "reason": "AlreadyExists",
                  "message": "Service name is not available."
                }
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthcareApis/services/{resourceName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_ListByService",
        "description": "Lists all private endpoint connections for a service.",
        "parameters": [
          {
            "$ref": "healthcare-apis.json#/components/parameters/subscriptionId"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/resourceGroupName"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/resourceName"
          },
          {
            "$ref": "healthcare-apis.json#/components/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/PrivateEndpointConnectionListResultDescription"
                }
              }
            }
          },
          "default": {
            "description": "DefaultErrorResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "healthcare-apis.json#/components/schemas/ErrorDetails"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "PrivateEndpointConnection_List": {
            "parameters": {
              "api-version": "2021-11-01",
              "subscriptionId": "subid",
              "resourceGroupName": "rgname",
              "resourceName": "service1"
[...]
